.myscreen {
    border: 1px solid #000;
    width: 1000px ;
    text-align: center;
    font-family: "Times New Roman";
    
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 20px;
}
/*
#screentitle {
    text-align: center;
}*/

#screentitle {

  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}
